#!/bin/bash
# Script managed by Ansible in role postgresql/templates/keepalived_scripts/postgres-takeover.sh.j2
TYPE=$1
NAME=$2
STATE=$3
case $STATE in
        "MASTER")
                echo "ENTERING MASTER STATE"
                touch {{ postgresql_data_directory }}/failover
        ;;
        "BACKUP")
                echo "ENTERING BACKUP STATE"
                /bin/systemctl stop {{ postgresql_service_name }}.service
        ;;
        "FAULT")
                echo "ENTERING FAULT STATE"
                /bin/systemctl stop {{ postgresql_service_name }}.service
        ;;

        *)
                break
        ;;
esac
